body,
html,
div,
section,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#temas{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.pregunta {
    border: 3px red solid;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    .preguntas-container {
        border: 3px red solid;
    }
    .buttons-container {
        display: flex;
        justify-content: space-around;
        border: 3px red solid;
    }
}